parameters:

extensions:
	console: Contributte\Console\DI\ConsoleExtension
#
#application:
#	errorPresenter: Error
#	mapping:
#		*: App\Presenters\*Module\*Presenter
#	scanDirs: true

services:
	- MondayFactory\DatabaseModelGenerator\Command\GenerateBasicModel